body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.central {
  text-align: center;
  font-size: 2em;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 45px;
  margin-right: 10px;
}

.sidenav a {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 1.7em;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: #f1f1f1;
  color: black;
    border-style: solid;
  border-color: white;
  border-width: 20 px 1px;
  border-radius: 3px;
  margin-right: 10%;
  margin-left: 10%;
  font-size: 2.2em;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 1%;
  font-size: 2em;
  margin-left: 30%;
}

.maincontent {
  padding-left:

}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15%;}
  .sidenav a {font-size:2em;}
}